/velocity/cache
/velocity/logs
/velocity/world
/velocity/world_nether
/velocity/world_the_end
/velocity/banned-ips.json
/velocity/banned-players.json
/velocity/eula.txt
/velocity/ops.json
/velocity/eagler_skins_cache.db
/velocity/usercache.json
/velocity/version_history.json
/velocity/whitelist.json
/velocity/forwarding.secret
/velocity/plugins/nlogin/nlogin.db
/velocity/plugins/nlogin/logs
/velocity/plugins/ncore
/velocity/plugins/skinsrestorer
/velocity/lang

/paper/cache
/paper/logs
/paper/world
/paper/world_nether
/paper/world_the_end
/paper/banned-ips.json
/paper/banned-players.json
/paper/eula.txt
/paper/ops.json
/paper/eagler_skins_cache.db
/paper/usercache.json
/paper/version_history.json
/paper/whitelist.json

.idea